<!DOCTYPE HTML>
<HTML lang="en">
    <head>
        <link rel="stylesheets" href="about_style.css">
        <meta charset="utf-8">
        <title>About Page</title>
    </head>
    <body>
        <h1>About us</h1>
        <p>This is a test for the about page</p>
    </body>    
</HTML>