<!DOCTYPE HTML>
<HTML lang="en">
    <head>
        <link rel="stylesheets" href="home_style.css">
        <meta charset="utf-8">
        <title>This is a test web application</title>
    </head>
        <body>
            <h1>Hello World</h1>
            <p>This is the home page. Here is a link: <a href="about">About Page</p></a>
        </body>
</HTML>