<!DOCTYPE HTML>
<HTML lang="en">
    <head>
        <title>Home Page</title>
        <link rel="stylesheets" href="home_style.css">
        <meta charset="utf-8">
    </head>
        <body>
            <h1>Hello World</h1>
            <p>This is the home page. Here is a link: <a href="about">About Page</p></a>
            <p>Here is another link: <a href="certifications">Certifications</p></a>
        </body>
</HTML>